*{
    padding: 0;
    margin: 0;
    color: none;            
}

body{
    background-image:url(./Assets/Coffee\ espresso\ template1.jpg); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(75, 38, 20);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img{
    width: 80px;
    height:80px;
    padding-left: 40px;
}

.anchors{
    margin-top: 20px;
    padding-right: 60px;
}

.anchors a{
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(75, 38, 20);
    background-color: #ffffff6b;
    text-align: center;
    text-decoration: none;
    padding: 12px 20px;
}

/* For Home */

.home{
    display: flex;
    justify-content: space-between;
}

.home-heading{
    padding: 150px 70px;
    font-size: large;
}

.home-heading h1{
    font-size: 45px;
}

h1 em{
    font-size: 60px;
    font-style: normal;
}

.home-heading p{
    padding: 5px 0;
}

.home-heading button{
    color:rgb(75, 38, 20);
    border: 1px solid rgb(75, 38, 20);
    background-color: transparent;
    padding: 10px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 5px;
}
.offer{
    margin-top: -90px;
    margin-left: -100px;
}

.offer img{
    width: 400px;
}

.home-image{
    width: 400px;
}

.home-image{
    position: relative;
    animation: move 1s both;
}

@keyframes move{
    from {right: 0px;}
    to{right: 100px;}
}

/* Coffee Section  */

.coffee-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.coffee-container .coffee-cup{
    width: 190px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.265),rgba(0,0,0,0.265)),url(./Assets/back4.jpg);
    background-size: cover;
    color: #fff;
    transition: transform 0.1s ease-in 0.1s;
}
.coffee-cup:hover{
    transform: scale(1.1);
}

.coffee-cup img{
    width: 150px;
    height: 130px;
    position: relative;
    top: -40px;
    border-radius: 50%;
}
.coffee-cup h2{
    margin-top: -15px;
}
.coffee-cup p{
    font-size: 13px;
    padding: 5px;
}



/* // For small 1000px// */

@media(max-width: 1000px){
    #logo img{
        width : 70px;
        height: 70px;
        padding-left: 30px;
    }
    .anchors{
        padding-right: 50px;
    }
    .anchors a{
        padding: 10px 10px;
    }
    /* home */
    .home-heading{
        padding: 150px 50px;
    }
    .home-heading h1{
        font-size: 35px;
    }
    h1 em{
        font-size: 50px;
    }
    /* button  */
    .home-heading button{
        padding: 8px;
        margin-top: 8px;
    }
    .offer{
        margin-top: -70px;
        margin-left: -70px;
    }
    .offer img{
        width: 300px;
    }
    .home-image img{
        width: 300px;
    }
    @keyframes move{
        from{right: 0px}
        to{right: 50px}
    }
}

/* for tabs */

@media(max-width: 780px){
    #logo img{
        height: 60px;
        width: 60px;
    }
    .anchors a{
        font: size 2.7vh; 
        padding: 5px;
    }
    /* home  */
    .home-heading{
        padding: 150px 20px;
    }
    .home-heading h1{
        font-size: 25px;
    }
    h1 em{
        font-size: 40px;
    }
    .home-heading img{
        width: 15px;
        padding: 5px;
    }
    .home-heading p{
        font-size: small;
    }
    .home-heading button{
        padding: 5px;
    }
    .offer{
        margin-top: -70px;
        margin-left: -70px;
    }
    .offer img{
        width: 300px;
    }
    .home-image{
        width: 300px;
    }
    @keyframes move {
        from{right: 0px}
        to{right: 5%}
    }
}


/* for Mobile */

@media(max-width: 420px){
    #logo img{
        height: 50px;
        width: 50px;
        padding-left: 10px;
    }
    .anchors{
        padding-right: 10px;
        margin-top: 5px;
    }
    .anchors a{
        padding: 5px 5px;
        font-size: 1.6vh;
    }

    /* home  */
    .home-heading{
        padding: 60px 20px;
    }
    .home-heading h1{
        font-size: 3vh;
    }
    h1 em{
        font-size: 4vh;
    }
    .home-heading img{
        width: 10px;
        padding: 2px;
        margin: 8px 0;
        margin-bottom: 0;
    }
    .home-heading p{
        font-size: 1.3vh;
    }
    .home-heading button{
        padding: 2px;
        margin-left: 5px;
        font-size: 1.3vh;
    }
    .offer{
        margin-top: -40px;
    }
    .offer img{
        width: 140px;
    }
    @keyframes move {
        from{right: 0;}
        to{right: 5%;}
    }
}
